* {
    font: normal 13px Arial, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

nav {
    width: 100vw;
    min-width: 100vw !important;
    margin: 0;
    padding: 0;
}

td,
th {
    min-width: 20%;
    display: table-cell;
    text-align: center;
    padding: auto;
}

th {
    font-weight: bold;
}

thead {
    color: #fff;
    background-color: #212121;
}

table {
    display: none;

    position: relative;
    margin-left: auto;
    margin-right: auto;
}

a { 
    color: #336b6b;
}

tbody tr:hover {
    background: #336b6b;
    color: #fff;
}

#background_text {
    display: block;
    text-align: center;
    width: 100%;
    color: #336b6b;
}

#select_input {
    text-align: center;
}

.small_text {
    font-size: small;
}

.attributes_cells {
    font-size: x-small;
    vertical-align: middle;
}